@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* main page style sheet */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 400;
  font-size: 2vmin;
  line-height: 136%;
}


/* GRID SETUP */
section.parent {
  width: 100vw;
  height: auto;
  padding: 2vmin ;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 3vmin;
}

h1 {
  font-size: 770%;
  line-height: 100%;
  font-family: 'Roboto', verdana, sans-serif;
  font-weight: 700;
  text-transform: none;
  color: #FFF;
}

nav {
  grid-column: 1 / 1;
  grid-row:   2 / 3;
  position: sticky;
  top: 0;
  z-index: 100;
}

.textbox{
  grid-column: 2 / 3;
  background-color: #ffffff;
  padding: 2% 3% 2% 3%;
  box-shadow: -4px 4px 6px 0px #B2B2B2;
  height: auto;

}

.sideL{
  margin-right: auto;
}

.sideR{
  margin-left: auto;

}

/* title box */
.a1 {
  grid-row: 1 / 1;
  background-color: #56E863;
  padding: 18% 3% 3% 3%;
  margin-bottom: 5%;
}

.a2 {
  grid-row: 2 / 2;
margin-bottom: auto;
}

.a3 {
  grid-row: 3 / 3;

}

.a4 {
  grid-row: 4 / 4;

}

.a5 {
  grid-row: 5 / 5;
}

.a6 {
  grid-row: 6 / 7;
  margin-left: 30%;

}

.a7 {
  grid-row: 7 / 7;
}

.a8 {
  grid-row: 8 / 8;

}

.a9 {
  grid-row: 9 / 9;

}

.a10 {
  grid-row: 10 / 10;

}

.a11 {
  grid-row: 11 / 11;
}

.a12 {
  grid-row: 12 / 12;
  margin-left: auto;
}

.a13 {
  grid-row: 13 / 13;
  margin-left: 20%;

}

.a14 {
  grid-row: 14 / 14;

}

.spacing{
  grid-row: 16 / 16;
  height: 100px;
}


 .a3 ,.a5 ,.a6 , .a9, .a12 ,.a13 {
  background-color: #56E863;
  color: #F7FCFB;
  box-shadow: 4px 4px 6px 0px #B2B2B2;

}

.buttonF, .buttonM,.buttonI{
  background-color: #656565;
  color: #F7FCFB;
  padding: 9% 15% 9% 15%;
  text-decoration: none;
  border-radius: 40px;
  font-size: 90%;
}


.buttonF:hover{
  background-color: #C786FF;
  transition: 0.2s all;

}

.buttonM:hover{
  background-color: #62C3FF;
  transition: 0.2s all;

}

.active{
  background-color: #56E863;

}

.link{
  margin-top: 15%;
}

body {
  background-color: #F7FCFB;
  color: #656565;

}

/* tablet [1024 x 768] & deskstop (1) [1366 x 768] size */
@media only screen and (min-width: 1024px){
  *{
    font-size: 90%
  }

  h1 {
    font-size: 480%;
    line-height: 90%;
    padding-top: 20%;
  }

  article {
    border-radius: 35px;
    padding: 3% 3% 3% 3%;
  }

  section.parent {
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-gap: 2vmin;
  }

  .link{
    margin-top: 25%;
  }


}

/* desktop [1920 x 1080] (2) size */

@media only screen and (max-width: 1920px){
  *{
    font-size: 115%

  }

  h1 {
    font-size: 480%;
    line-height: 90%;
    padding-top: 0%;

  }

  section.parent {
    display: grid;
    padding: 3vmin ;
    grid-template-columns: 15vw 1fr;
    grid-gap: 4vmin;
  }

  article {
    border-radius: 45px;
    padding: 3% 3% 3% 3%;
  }

  .a1 {
    padding: 28% 3% 3% 3%;
    margin-bottom: 2%;
  }



  .link{
    margin-top: 25%;
  }

}

/* mobile screen [360 x 640] size */

@media only screen and (max-width: 768px){
  *{
    font-size: 120%
  }

  h1 {
    font-size: 400%;
    line-height: 95%;
    padding-bottom: 4%;
  }

  section.parent {
    display: grid;
    padding: 3vmin ;
    grid-template-columns: 1vw 1fr;
    grid-gap: 5vmin;
  }

  article {
    border-radius: 50px;
    padding: 6%;
    font-size: 70%;
  }

  .a1 {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    background-color: #56E863;
    padding: 28% 3% 3% 3%;
    margin-bottom: 2%;
  }

  .a6, .a13 {
    margin-left: 2%;
  }

  .buttonF, .buttonM, .buttonIactive{
    padding: 9% 15% 9% 15%;
    text-decoration: none;
    border-radius: 50px;
    font-size: 100%;
    margin-left: 50px;
  }

  .link{
    margin-top: 25%;
  }

  nav{
    display: flex;
    position: fixed;
    margin-top: 85vh;
  }


}
