/* this is a comment */
body {
  background-color: #fff1d6;
  font-family: Oswald, Roboto, Helvetica, sans-serif;
  padding-left: 20px
}

h1 {
font-family:  Courier ,monospace;
  font-size: 22px;
  color: #f22e87;
}

h2 {
  font-family: Oswald, Roboto, Helvetica sans-serif;
  font-size: 36px;
  color: #1fceff;
}

h3  {
  font-family: Oswald, Roboto, Helvetica, sans-serif;
  font-size: 22px;
  color: #1fceff;
}


p {
  font-size: 18px;
  line-height: 26px;
  color: #785200;
}

a:link {
  color:#fa8950;
  font-family: courier ,monospace;
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 10px;
  text-decoration: none;
}

a:visited{
color:#ffb282
}

a:hover {
  color:#26e02c;
}

.avatar {
  margin-top: 400px;
  margin-left: -30px;
  width: 50px;
  height: 50px;
}

.text {
  width:800px;
}
