@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  font-family: 'Lato', arial, sans-serif;
}

header h1 {
  font-size: 50px;
  font-family:  'Lato' , verdana, sans-serif;
  font-weight: 300;
  text-transform:none;
  color: #40d49e;
}

section.parent {
  width:100%;
  height:100vh;
  padding:2.5vmin;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 3fr;
  grid-gap:2vmin;
}

article {
	background-color: #deffba;
	color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 2vmin;
}


.a1 {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
}

.a2 {
  background: none;
  align-self: flex-end;
	grid-column: 1 / 1;
	grid-row: 3 / 3;
}

.a3 {
  background-color: #2a323b;
	grid-column: 2 /5;
	grid-row: 1 / 2;
}

.a4 {
  background-color: #2a323b;
  align-self:flex-end;
  color: #40d49e;
	grid-column: 2 /5;
	grid-row: 3 / 3;

}

.a5 {
  background-color: #2a323b;
	grid-column: 2 / 5;
	grid-row: 4 / 4;
}

.a6 {
  background-color: #40d49e;
  color: #265e63;
	grid-column: 1 /1;
	grid-row: 4 / 5;
}

.a7 {
  background: none;
  align-self: flex-end;
	grid-column: 1 / 1;
	grid-row: 4 / 4;
}

a:link {
  color:#265e63;
  font-family: courier ,monospace;
  text-transform: uppercase;
  font-size: 110%;
  text-decoration: none;
  padding-right: 2%;
}

a:visited {
  color: #40d49e;
}

a:hover {
color: #40d49e;
}

img{
  width: 20%;
}

body {
  background-color: #3a424a;
}

h2{
  color: #40d49e;
}
h3{
  color: #40d49e;
}
